* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

header {
    grid-row: 1 / 2;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    background-color: lightblue;
    padding: 1rem;
}

main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

footer {
    grid-row: 3 / 4;
    width: 100%;
    display: grid;
    padding: 1rem;
    align-items: center;
    justify-items: left;
    grid-template-columns: 1fr 3fr;
    background-color: lightblue;
}

.header-profile-img {
    box-shadow: 5px 5px 15px rgb(61, 77, 82);
    object-fit: cover;
}

.header-txt {
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 5px 5px 15px rgb(61, 77, 82);
    border-radius: 15px;
    width: 80%;
    height: 20rem;
    background-color: white;
}

.header-txt h1, p {
    margin: 2rem;
}

.social-links{
    display: flex;
    justify-content: right;
    margin: 2rem;
}

.social-links img {
    border: 1px solid black;
    box-shadow: 5px 5px black;
    width: 1.6rem;
    height: 1.6rem;
    margin: .2rem;
    object-fit: cover;
}

.social-links img:hover {
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
}

.social-links img:active {
    background-color: gray;
    width: 1.4rem;
    height: 1.4rem;
}

.main-grid {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 4rem;
    margin: 2rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: right;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 9px 10px 15px rgb(64, 64, 64);
    height: 25rem;
}

.project-tile a {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.project-img {
    max-width: 26rem;
}

.project-git-link {
    width: 1.6rem;
    height: 1.6rem;
    object-fit: cover;
    justify-content: right;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

.project-git-link:hover {
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
}

.project-git-link:active {
    background-color: gray;
    width: 1.4rem;
    height: 1.4rem;
}

.footer-profile-img {
    justify-self: center;
    margin: 1rem;
    box-shadow: 5px 5px 15px rgb(61, 77, 82);
    object-fit: cover; 
}

.footer-txt {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.footer-txt p {
    margin: .8rem;
}

.footer-icon {
    width: 1.6rem;
    height: 1.6rem;
    object-fit: cover;
}